* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(46,51,80);
    display: grid;
    place-items: center;
}

.wrapper {
    width: 60rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    perspective: 100rem;
    perspective-origin: 76% 27%;
}


.circle {
    position: absolute;
    width: 40rem;
    aspect-ratio: 1;
    border: 0.5rem dashed #0ff;
    border-radius: 50%;
}

.circle-1 {
    transform: rotateY(70deg) rotateX(40deg);
}

.circle-2 {
    transform: rotateY(70deg) rotateX(-40deg);
}

.circle-3 {
    transform: rotateY(180deg) rotateX(90deg);
}